@model CMS_WebSystem.Models.Schedule_tbl

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Schedule</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Sch_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Departure_Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="margin-top:5px;">
                @Html.DropDownListFor(model => model.Departure_Location, ViewBag.PortLocation as IEnumerable<SelectListItem>)
                @Html.ValidationMessageFor(model => model.Departure_Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Arrival_Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="margin-top:5px;">
                @Html.DropDownListFor(model => model.Arrival_Location, ViewBag.PortLocation as IEnumerable<SelectListItem>)
                @Html.ValidationMessageFor(model => model.Arrival_Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dept_DateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dept_DateTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dept_DateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Arrvl_DateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Arrvl_DateTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Arrvl_DateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ship_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="margin-top:5px;">
                @Html.DropDownListFor(model => model.Ship_Id, ViewBag.ShipList as IEnumerable<SelectListItem>)
                @Html.ValidationMessageFor(model => model.Ship_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ScheduleManagement")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
