@model CMS_WebSystem.Models.Item_tbl

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Item Page</h2>

<h3>Are you sure you want to delete this item?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cust_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cust_Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cust_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cust_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Itm_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Itm_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Itm_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Itm_Description)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ItemManagement")
        </div>
    }
</div>
